/* Start variables */
:root {
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
}
/* End variables */
/* Start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small screen */
@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}
/* Medium screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global rules */
/* Start header */
header .container {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.option {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-size: large;
    font-weight: 400;
    opacity: 0.9;
}
@media (max-width: 427px) {
    header img {
        width: 85px;
    }
    .option {
        width: 190px;
        font-size: 14px;
    }
}
/* End header */
/* Start section one */
.sc1 .container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
}
/* .caption {
    width: 530px;
} */
h1 {
    font-size: 38px;
    font-weight: 700;
    margin-top: 100px;
    line-height: 1.6;
}
.im {
    width: 600px;
}
.caption p {
    font-size: large;
    font-weight: 400;
    margin: 20px 0;
}
#em {
    width: 300px;
    height: 40px;
    padding: 15px;
    margin-right: 10px;
    border: 1px solid black;
}
:placeholder-shown {
    background-color: white;
    opacity: 0.3;
    padding-left: 15px;
}
[type=submit] {
    width: 200px;
    color: white;
    background-color: var(--Bright-Blue);
    padding: 15px 50px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    font-weight: 400;
}
[type=submit]:hover {
    opacity: 0.7;
}
/* Mobile screen */
@media (max-width: 427px) {
    .sc1 .container {
        flex-direction: column-reverse;
    }
    .caption {
        text-align: center;
    }
    h1 {
        font-size: 25px;
        margin: 0 0 10px;
    }
    #em {
        margin-right: 0px;
    }
    .im {
        width: -webkit-fill-available;
        margin: 100px 0 25px;
    }
}
/* End section one  */
/* Start section tow */
.background {
    height: 114px;
    background-image: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    margin: 100px 0px -100px;
}
/* Mobile screen */
@media (max-width: 427px) {
    .background {
        background-size: contain;
        background-repeat: no-repeat;
        margin: 75px 0px -187px;
    }
}
/* End section tow */
/* Start section three */
.sc3 {
    background-color: var(--Light-Grayish-Blue);
}
.sc3 .container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.sc3 h2 {
    font-size: 35px;
    margin: 20px 0 30px;
}
.sc3 .container > div > p {
    max-width: 520px;
    font-weight: 400;
    margin: 20px 0;
}
.link {
    width: 166px;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--Moderate-Cyan);
}
.sc3 a {
    color: var(--Moderate-Cyan);
    text-decoration: none;
}
.link img {
    vertical-align: bottom;
}
.pr {
    max-width: 370px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
    margin: 50px 0 100px;
}
.pr img[src*="avatar"] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.pr > div {
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.pr div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pr div div :last-child {
    font-size: x-small;
}
.pr div div :first-child {
    font-size: small;
    font-weight: 700;
}
.sc3 .im {
    width: 500px;
    margin-top: 30px;
}
@media (max-width: 427px) {
    .sc3 .container {
        flex-direction: column-reverse;
    }
    .sc3 h2 {
        font-size: 20px;
        text-align: center;
    }
    .sc3 .im {
        width: -webkit-fill-available;
    }
}
/* End section three */
/* Start section four */
.sc4 {
    background-color: var(--Desaturated-Blue);
}
.sc4 .container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}
.sc4 .container div p {
    width: 500px;
    color: white;
    line-height: 1.6;
    opacity: 0.7;
}
h3 {
    font-size: xx-large;
    color: white;
    margin-bottom: 20px;
}
.em div input {
    width: 400px !important;
    margin-right: 0px !important;
}
.sc4 .container input:last-of-type {
    padding: 15px 0px;
}
.em div {
    background-color: white;
}
@media (max-width: 427px) {
    .sc4 .container {
        flex-direction: column;
        padding: 25px 0 50px;
    }
    .sc4 h3 {
        font-size: 20px;
        text-align: center;
    }
    .sc4 .container div {
        margin: auto;
    }
    .sc4 .container div p {
        width: 300px;
        text-align: center;
        margin: 10px auto;
    }
    .em div input {
        width: 300px !important;
    }
    [type=submit] {
        width: 300px;
    }
}
/* End section four */
/* Start footer */
footer {
    background-color: var(--Very-Dark-Blue);
    padding-top: 100px ;
}
.logo-c {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(119deg) brightness(104%) contrast(101%); 
}
.connect {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(250px , 1fr));
}
.phon > div {
    display: flex;
    padding: 10px;
}
.phon > div p {
    color: white;
    margin-left: 20px;
}
.links {
    padding-left: 75px;
}
.links p {
    color: white;
    padding: 10px;
    opacity: 0.7;
}
.links P:hover {
    color: var(--Bright-Blue);
}
.icons {
    display: flex;
    justify-content: center;
}
.icons div {
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
}
i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
.icons div:hover {
    border-color: var(--Bright-Blue);
}
.icons div:hover i {
    color: var(--Bright-Blue);
}
@media (max-width: 427px) {
    .links {
        padding: 0;
        margin-top: 30px;
    }
}
/* End footer */